{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Star Wars</h1>
    <p class="lead">Star Wars is an American epic space-opera media franchise created by George Lucas. The franchise began with the eponymous 1977 film and quickly became a worldwide pop-culture phenomenon.</p>
    <p><a href="https://en.wikipedia.org/wiki/Star_Wars" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Rogue One
        </h2>
        <p>
            A Star Wars Story (or simply Rogue One, as in the title sequence) is 
            a 2016 American epic space-opera film directed by Gareth Edwards. 
            The screenplay by Chris Weitz and Tony Gilroy is from a story by John Knoll and Gary Whitta
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Rogue_One">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            The Empire Strikes Back
        </h2>
        <p>The Empire Strikes Back  is a 1980 American epic space-opera film directed by Irvin Kershner.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/The_Empire_Strikes_Back">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Return of the Jedi
        </h2>
        <p>Return of the Jedi  is a 1983 American epic space-opera film directed by Richard Marquand.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Return_of_the_Jedi">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
